* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


:root {
   --linear-bg-clr: linear-gradient(186deg, lightblue, #6fe1f0, rgb(99, 99, 182));
   --default-black-clr: #252525;
   --white-clr: #fff;
   --random-btn-clr: rgb(124, 65, 94);
   --reset-btn-clr: rgb(127, 168, 127);
   --content-white: #666060;
}

body {
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background: var(--linear-bg-clr);
   font-family: Poppins, sans-serif;
   font-size: 16px;
   line-height: 1.2;
}

#title-heading {
   color: var(--white-clr);
   text-transform: uppercase;
   font-size: 1.5em;
   font-weight: bold;
}

#header-section {
   display: flex;
   justify-content: space-between;
   padding: 1em 1.5em;
}

#header-section > p {
   font-size: 1em;
   color: var(--content-white);
}

#header-section > button {
   width: 90px;
   height: 30px;
}

#drawing-grid {
   height: 300px;
   display: grid;
   box-shadow: 1px 1px 3px 1px #25252540;
}

#footer-section {
   height: 50px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

#footer-section > button {
   width: 80px;
   height: 30px;
   border-radius: 1em;
   border: none;
}

#header-section, #drawing-grid, #footer-section {
   width: 300px;
}
